<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.sptsjzx.qyaqjcgl.statistics.mapper.ClosedManagementMapper">
    <!-- 1. 封闭化管理接入情况统计 -->
    <select id="getClosedAccessStats" resultType="map">
        SELECT
        -- 卡口门禁是否有数据
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.kkmjxx WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as kkmjCount,
        -- 访客信息是否有数据
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.fkxx WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as fkxxCount,
        -- 危化品车辆信息是否有数据
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.whpclxx WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as whpclCount,
        -- 其他车辆信息是否有数据
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.qtclxx WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as qtclCount,
        -- 危化品运输车辆停车场信息是否有数据
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.whpyscltccxx WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as tccCount,
        -- 车辆实时通行数据是否有数据
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.clsstx WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as clsstxCount,
        -- 人员实时通行数据是否有数据
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.rysstxsj WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as rysstxCount,
        -- 人员实时定位是否有数据
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.ryssdw WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as ryssdwCount,
        -- 危化品车辆实时定位是否有数据
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.whpclssdw WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as whpclssdwCount,
        -- 报警数据是否有数据
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.sbbjsj WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as sbbjsjCount
    </select>

    <!-- 2. 报警类型统计(饼图) -->
    <select id="getAlarmTypeStats" resultType="map">
        SELECT
        CASE alarm_type
        WHEN '1' THEN '入侵报警'
        WHEN '2' THEN '超速报警'
        WHEN '3' THEN '求救报警'
        WHEN '4' THEN '滞留报警'
        ELSE '其他'
        END as name,
        COUNT(*) as value
        FROM shipingtaishujuzhongxin.sbbjsj
        <where>
            deleted = '0'
            <if test="parkCode != null and parkCode != ''">
                AND park_code = #{parkCode}
            </if>
            <if test="countycode != null and countycode != ''">
                AND countycode = #{countycode}
            </if>
        </where>
        GROUP BY alarm_type
    </select>

    <!-- 3. 报警基本信息统计 -->
    <select id="getBasicInfoStats" resultType="map">
        SELECT
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.kkmjxx WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as gateCount,
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.whpclxx WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as hazardousVehicleCount,
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.qtclxx WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as otherVehicleCount,
        (SELECT COUNT(*) FROM shipingtaishujuzhongxin.fkxx WHERE deleted = '0'
        <if test="parkCode != null and parkCode != ''">
            AND park_code = #{parkCode}
        </if>
        <if test="countycode != null and countycode != ''">
            AND countycode = #{countycode}
        </if>
        ) as visitorCount
    </select>

    <!-- 4. 通行数据统计 - 车辆 -->
    <select id="getVehicleTrafficStats" resultType="map">
        SELECT
        COUNT(CASE WHEN vehicle_type = '1' THEN 1 END) as generalCargoCount,
        COUNT(CASE WHEN vehicle_type = '2' THEN 1 END) as hazardousTransportCount,
        COUNT(CASE WHEN vehicle_type = '3' THEN 1 END) as smallVehicleCount,
        COUNT(CASE WHEN vehicle_type = '4' THEN 1 END) as emergencyVehicleCount
        FROM shipingtaishujuzhongxin.clsstx
        <where>
            deleted = '0'
            <if test="parkCode != null and parkCode != ''">
                AND park_code = #{parkCode}
            </if>
            <if test="countycode != null and countycode != ''">
                AND countycode = #{countycode}
            </if>
            <if test="timeRange != null and timeRange != ''">
                <choose>
                    <when test="timeRange == 'today'">
                        AND DATE(pass_time) = CURDATE()
                    </when>
                    <when test="timeRange == 'week'">
                        AND pass_time >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
                    </when>
                    <when test="timeRange == 'month'">
                        AND pass_time >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <!-- 5. 通行数据统计 - 人员 -->
    <select id="getPersonnelTrafficStats" resultType="map">
        SELECT
        COUNT(CASE WHEN staff_type = '1' THEN 1 END) as registeredPersonnelCount,
        COUNT(CASE WHEN staff_type = '2' THEN 1 END) as visitorPersonnelCount
        FROM shipingtaishujuzhongxin.rysstxsj
        <where>
            deleted = '0'
            <if test="parkCode != null and parkCode != ''">
                AND park_code = #{parkCode}
            </if>
            <if test="countycode != null and countycode != ''">
                AND countycode = #{countycode}
            </if>
            <if test="timeRange != null and timeRange != ''">
                <choose>
                    <when test="timeRange == 'today'">
                        AND DATE(pass_time) = CURDATE()
                    </when>
                    <when test="timeRange == 'week'">
                        AND pass_time >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
                    </when>
                    <when test="timeRange == 'month'">
                        AND pass_time >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <select id="getClosedManagementAllInOne" resultType="map">
        <![CDATA[
SELECT
  kkmj.has_kkmj,
  fk.has_fkxx,
  whpcl.has_whpcl,
  qtcl.has_qtcl,
  tcc.has_tcc,
  clsstx.has_clsstx,
  rysstx.has_rysstx,
  ryssdw.has_ryssdw,
  whpclssdw.has_whpclssdw,
  sbbjsj.has_sbbjsj,

  kkmj.gateCount,
  whpcl.hazardousVehicleCount,
  qtcl.otherVehicleCount,
  fk.visitorCount,

  traffic.totalVehicleTraffic,
  traffic.generalCargoCount,
  traffic.hazardousTransportCount,
  traffic.smallVehicleCount,
  traffic.emergencyVehicleCount,

  personnel.registeredPersonnelCount,
  personnel.visitorPersonnelCount,

  alarm.alarm_intrusion,
  alarm.alarm_speed,
  alarm.alarm_help,
  alarm.alarm_stay,
  alarm.alarm_other
FROM
  (SELECT
     COUNT(*) > 0 AS has_kkmj,
     COUNT(*) AS gateCount
   FROM shipingtaishujuzhongxin.kkmjxx
   WHERE deleted = '0'
     AND park_code IN
]]>
        <foreach collection="parkCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
        <![CDATA[
  ) kkmj,

  (SELECT
     COUNT(*) > 0 AS has_fkxx,
     COUNT(*) AS visitorCount
   FROM shipingtaishujuzhongxin.fkxx
   WHERE deleted = '0'
     AND park_code IN
]]>
        <foreach collection="parkCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
        <![CDATA[
  ) fk,

  (SELECT
     COUNT(*) > 0 AS has_whpcl,
     COUNT(*) AS hazardousVehicleCount
   FROM shipingtaishujuzhongxin.whpclxx
   WHERE deleted = '0'
     AND park_code IN
]]>
        <foreach collection="parkCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
        <![CDATA[
  ) whpcl,

  (SELECT
     COUNT(*) > 0 AS has_qtcl,
     COUNT(*) AS otherVehicleCount
   FROM shipingtaishujuzhongxin.qtclxx
   WHERE deleted = '0'
     AND park_code IN
]]>
        <foreach collection="parkCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
        <![CDATA[
  ) qtcl,

  (SELECT
     COUNT(*) > 0 AS has_tcc
   FROM shipingtaishujuzhongxin.whpyscltccxx
   WHERE deleted = '0'
     AND park_code IN
]]>
        <foreach collection="parkCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
        <![CDATA[
  ) tcc,

  (SELECT
     COUNT(*) > 0 AS has_clsstx
   FROM shipingtaishujuzhongxin.clsstx
   WHERE deleted = '0'
     AND park_code IN
]]>
        <foreach collection="parkCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
        <![CDATA[
  ) clsstx,

  (SELECT
     COUNT(*) > 0 AS has_rysstx
   FROM shipingtaishujuzhongxin.rysstxsj
   WHERE deleted = '0'
     AND park_code IN
]]>
        <foreach collection="parkCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
        <![CDATA[
  ) rysstx,

  (SELECT
     COUNT(*) > 0 AS has_ryssdw
   FROM shipingtaishujuzhongxin.ryssdw
   WHERE deleted = '0'
     AND park_code IN
]]>
        <foreach collection="parkCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
        <![CDATA[
  ) ryssdw,

  (SELECT
     COUNT(*) > 0 AS has_whpclssdw
   FROM shipingtaishujuzhongxin.whpclssdw
   WHERE deleted = '0'
     AND park_code IN
]]>
        <foreach collection="parkCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
        <![CDATA[
  ) whpclssdw,

  (SELECT
     COUNT(*) > 0 AS has_sbbjsj
   FROM shipingtaishujuzhongxin.sbbjsj
   WHERE deleted = '0'
     AND park_code IN
]]>
        <foreach collection="parkCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
        <![CDATA[
  ) sbbjsj,

  -- 车辆通行统计：防止 SUM 返回 NULL -->
  (SELECT
     COUNT(*) AS totalVehicleTraffic,
     COALESCE(SUM(vehicle_type = '1'), 0) AS generalCargoCount,
     COALESCE(SUM(vehicle_type = '2'), 0) AS hazardousTransportCount,
     COALESCE(SUM(vehicle_type = '3'), 0) AS smallVehicleCount,
     COALESCE(SUM(vehicle_type = '4'), 0) AS emergencyVehicleCount
   FROM shipingtaishujuzhongxin.clsstx
   WHERE deleted = '0'
     AND park_code IN
]]>
        <foreach collection="parkCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
        <![CDATA[
     AND pass_time >= #{startTime}
     AND pass_time < #{endTime}
  ) traffic,

  -- 人员通行统计：防止 SUM 返回 NULL -->
  (SELECT
     COALESCE(SUM(staff_type = '1'), 0) AS registeredPersonnelCount,
     COALESCE(SUM(staff_type = '2'), 0) AS visitorPersonnelCount
   FROM shipingtaishujuzhongxin.rysstxsj
   WHERE deleted = '0'
     AND park_code IN
]]>
        <foreach collection="parkCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
        <![CDATA[
     AND pass_time >= #{startTime}
     AND pass_time < #{endTime}
  ) personnel,

  -- 报警统计：防止 SUM 返回 NULL -->
  (SELECT
     COALESCE(SUM(alarm_type = '1'), 0) AS alarm_intrusion,
     COALESCE(SUM(alarm_type = '2'), 0) AS alarm_speed,
     COALESCE(SUM(alarm_type = '3'), 0) AS alarm_help,
     COALESCE(SUM(alarm_type = '4'), 0) AS alarm_stay,
     COALESCE(SUM(alarm_type NOT IN ('1','2','3','4') OR alarm_type IS NULL), 0) AS alarm_other
   FROM shipingtaishujuzhongxin.sbbjsj
   WHERE deleted = '0'
     AND park_code IN
]]>
        <foreach collection="parkCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
        <![CDATA[
  ) alarm
]]>
    </select>

    <!-- 按园区汇总封闭化管理数据（消除 clsstx/rysstxsj/sbbjsj 各 2 次重复扫描，13 JOIN → 10 JOIN） -->
    <!-- 已拆分为 getStaticInfoByPark + getVehicleTrafficByPark + getPersonnelTrafficByPark + getAlarmStatsByPark 并行执行 -->

    <!-- 1/4 静态基础数据（7 张小表，无时间过滤） -->
    <select id="getStaticInfoByPark" resultType="map">
        SELECT
        p.park_code,
        IF(IFNULL(t1.has_kkmj, 0), 1, 0) +
        IF(IFNULL(t2.has_fkxx, 0), 1, 0) +
        IF(IFNULL(t3.has_whpcl, 0), 1, 0) +
        IF(IFNULL(t4.has_qtcl, 0), 1, 0) +
        IF(IFNULL(t5.has_tcc, 0), 1, 0) +
        IF(IFNULL(t8.has_ryssdw, 0), 1, 0) +
        IF(IFNULL(t9.has_whpclssdw, 0), 1, 0) AS staticModuleCount,
        IFNULL(t1.gateCount, 0)             AS gateCount,
        IFNULL(t3.hazardousVehicleCount, 0) AS hazardousVehicleCount,
        IFNULL(t4.otherVehicleCount, 0)     AS otherVehicleCount,
        IFNULL(t2.visitorCount, 0)          AS visitorCount
        FROM (
        <foreach collection="parkCodes" item="code" separator=" UNION ALL ">
            SELECT #{code} AS park_code
        </foreach>
        ) p
        LEFT JOIN (
        SELECT park_code, (COUNT(*) > 0) AS has_kkmj, COUNT(*) AS gateCount
        FROM shipingtaishujuzhongxin.kkmjxx
        WHERE deleted = '0' AND park_code IN <foreach collection="parkCodes" item="c" open="(" separator="," close=")">#{c}</foreach>
        GROUP BY park_code
        ) t1 ON p.park_code = t1.park_code
        LEFT JOIN (
        SELECT park_code, (COUNT(*) > 0) AS has_fkxx, COUNT(*) AS visitorCount
        FROM shipingtaishujuzhongxin.fkxx
        WHERE deleted = '0' AND park_code IN <foreach collection="parkCodes" item="c" open="(" separator="," close=")">#{c}</foreach>
        GROUP BY park_code
        ) t2 ON p.park_code = t2.park_code
        LEFT JOIN (
        SELECT park_code, (COUNT(*) > 0) AS has_whpcl, COUNT(*) AS hazardousVehicleCount
        FROM shipingtaishujuzhongxin.whpclxx
        WHERE deleted = '0' AND park_code IN <foreach collection="parkCodes" item="c" open="(" separator="," close=")">#{c}</foreach>
        GROUP BY park_code
        ) t3 ON p.park_code = t3.park_code
        LEFT JOIN (
        SELECT park_code, (COUNT(*) > 0) AS has_qtcl, COUNT(*) AS otherVehicleCount
        FROM shipingtaishujuzhongxin.qtclxx
        WHERE deleted = '0' AND park_code IN <foreach collection="parkCodes" item="c" open="(" separator="," close=")">#{c}</foreach>
        GROUP BY park_code
        ) t4 ON p.park_code = t4.park_code
        LEFT JOIN (
        SELECT park_code, (COUNT(*) > 0) AS has_tcc
        FROM shipingtaishujuzhongxin.whpyscltccxx
        WHERE deleted = '0' AND park_code IN <foreach collection="parkCodes" item="c" open="(" separator="," close=")">#{c}</foreach>
        GROUP BY park_code
        ) t5 ON p.park_code = t5.park_code
        LEFT JOIN (
        SELECT park_code, (COUNT(*) > 0) AS has_ryssdw
        FROM shipingtaishujuzhongxin.ryssdw
        WHERE deleted = '0' AND park_code IN <foreach collection="parkCodes" item="c" open="(" separator="," close=")">#{c}</foreach>
        GROUP BY park_code
        ) t8 ON p.park_code = t8.park_code
        LEFT JOIN (
        SELECT park_code, (COUNT(*) > 0) AS has_whpclssdw
        FROM shipingtaishujuzhongxin.whpclssdw
        WHERE deleted = '0' AND park_code IN <foreach collection="parkCodes" item="c" open="(" separator="," close=")">#{c}</foreach>
        GROUP BY park_code
        ) t9 ON p.park_code = t9.park_code
    </select>

    <!-- 2/4 车辆通行（clsstx 大表，带时间过滤，与其他 3 个查询并行） -->
    <select id="getVehicleTrafficByPark" resultType="map">
        SELECT park_code,
        (COUNT(*) > 0)                                                         AS has_clsstx,
        COUNT(*)                                                                AS totalVehicleTraffic,
        SUM(CASE WHEN vehicle_type = '1' THEN 1 ELSE 0 END)                   AS generalCargoCount,
        SUM(CASE WHEN vehicle_type = '2' THEN 1 ELSE 0 END)                   AS hazardousTransportCount,
        SUM(CASE WHEN vehicle_type = '3' THEN 1 ELSE 0 END)                   AS smallVehicleCount,
        SUM(CASE WHEN vehicle_type = '4' THEN 1 ELSE 0 END)                   AS emergencyVehicleCount
        FROM shipingtaishujuzhongxin.clsstx
        WHERE deleted = '0'
        AND park_code IN <foreach collection="parkCodes" item="c" open="(" separator="," close=")">#{c}</foreach>
        AND pass_time >= #{startTime} AND pass_time &lt; #{endTime}
        GROUP BY park_code
    </select>

    <!-- 3/4 人员通行（rysstxsj 大表，带时间过滤，与其他 3 个查询并行） -->
    <select id="getPersonnelTrafficByPark" resultType="map">
        SELECT park_code,
        (COUNT(*) > 0)                                              AS has_rysstx,
        SUM(CASE WHEN staff_type = '1' THEN 1 ELSE 0 END)          AS registeredPersonnelCount,
        SUM(CASE WHEN staff_type = '2' THEN 1 ELSE 0 END)          AS visitorPersonnelCount
        FROM shipingtaishujuzhongxin.rysstxsj
        WHERE deleted = '0'
        AND park_code IN <foreach collection="parkCodes" item="c" open="(" separator="," close=")">#{c}</foreach>
        AND pass_time >= #{startTime} AND pass_time &lt; #{endTime}
        GROUP BY park_code
    </select>

    <!-- 4/4 报警数据（sbbjsj，与其他 3 个查询并行） -->
    <select id="getAlarmStatsByPark" resultType="map">
        SELECT park_code,
        (COUNT(*) > 0)                                                                                 AS has_sbbjsj,
        SUM(CASE WHEN alarm_type = '1' THEN 1 ELSE 0 END)                                             AS alarm_intrusion,
        SUM(CASE WHEN alarm_type = '2' THEN 1 ELSE 0 END)                                             AS alarm_speed,
        SUM(CASE WHEN alarm_type = '3' THEN 1 ELSE 0 END)                                             AS alarm_help,
        SUM(CASE WHEN alarm_type = '4' THEN 1 ELSE 0 END)                                             AS alarm_stay,
        SUM(CASE WHEN alarm_type NOT IN ('1','2','3','4') OR alarm_type IS NULL THEN 1 ELSE 0 END)     AS alarm_other
        FROM shipingtaishujuzhongxin.sbbjsj
        WHERE deleted = '0'
        AND park_code IN <foreach collection="parkCodes" item="c" open="(" separator="," close=")">#{c}</foreach>
        GROUP BY park_code
    </select>

    <!-- 通用：按 park_code 分组统计各表记录数 -->
    <select id="countGroupByPark" resultType="map">
        SELECT park_code, COUNT(*) AS cnt
        FROM ${tableName}
        WHERE deleted = '0'
        AND park_code IN
        <foreach collection="parkCodes" item="c" open="(" separator="," close=")">#{c}</foreach>
        GROUP BY park_code
    </select>

</mapper>